@charset "UTF-8";
//字体设置
@mixin fontset($size:12px,$color:black,$family:"Microsoft YaHei"){
    font-family:$family ;
    font-size:$size;
    color:$color;
}
// 绝对定位的水平和垂直举止垂直居中
@mixin HVmiddle{
    position:absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}


