@import "Myfunction.scss"; 
@import "common.scss";
.header{
    // padding-top:.57rem;
    background:#eb8c69;
    text-align:center;
    position:fixed;
    z-index: 999;
    width:6.4rem;
    opacity:.8;
    border-bottom:0.04rem solid #aea9a2;
    .back{
        display:inline-block;
        float:left;
        margin-left:.24rem;
        margin-top:.61rem;
        margin-bottom:.22rem;
        // box-shadow:0rem .03rem .02rem #c07459;
        a{
            span{
                display:block;
                width:.25rem;
                height:.48rem;
                background:url(../images/profile_back.png)no-repeat left top;
                background-size:.25rem .48rem;
            }
        }
        
        
    }
    >h3{
        display:inline-block;
        @include fontset(.36rem,#fff,"AvenirMedium");
        text-shadow: 0rem .03rem .01rem #b76b50;
        margin-top:.66rem;
    }
}

.content{
    padding:0rem 0.08rem;
    padding-top:1.45rem;
    padding-bottom:.92rem;
    background:#dcd4cd;
    .top{
        width:6.24rem;
        .topimg{
            height:4.20rem;
            background:url(../images/profile_HeadPortrait_bg.png)no-repeat center top;
            background-size:100% 100%;
            padding-top:.4rem;
            .sideshow{
                .itembox{
                    position:relative;
                    .item{
                        text-align:center;
                        .img{
                            width:1.9rem;
                            height:1.9rem;
                            border-radius:50%;
                            border:0.1rem solid rgba(179,177,169,.8);
                            margin:auto;
                            margin-bottom:.29rem;
                            
                        }
                        h3{
                            @include fontset(.3rem,#fff,"AvenirMedium");
                        }
                        span{
                            display:inline-block;
                            background:url(../images/log_position.png)no-repeat left center;
                            background-size:.14rem .18rem;
                            @include fontset(.24rem,#a49f99,"AvenirBook");
                            text-indent:.25rem;
                        }
                    }
                    .item:not(:first-of-type) {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width:100%;
                        opacity:0;
                    }
                }
                
                .btns{
                    text-align:center;
                    margin-top:.35rem;
                    span{
                        display:inline-block;
                        width:0.1rem;
                        height:0.1rem;
                        background:#696172;
                        border-radius:50%;
                        &:first-of-type{
                            background:#fff;
                        }
                        cursor:pointer;
                    }
                }
            }
            
        }
        .bottomarticle{
            display:flex;
            background:#ffffff;
            border-bottom-left-radius:.05rem;
            border-bottom-right-radius:.05rem;
            box-shadow:0rem .04rem .01rem #bab4ae;
            margin-bottom:.2rem;
            .item{
                padding-left:.28rem;
                padding-right:.25rem;
                padding-top:.09rem;
                padding-bottom:.13rem;
                margin:.15rem 0rem;
                border-right:.02rem solid #e5e5e5;
                span{
                    @include fontset(.24rem,#a49f99,"AvenirBook");
                }
                h3{
                    @include fontset(.3rem,#79746e,"AvenirMedium");
                }
                &:last-of-type{
                    border-right:none;
                }
            }
            .btnsingle{
                @include fontset(.24rem,#fff,"AvenirBook");
                width:1.60rem;
                height:.6rem;
                line-height:.6rem;
                box-shadow:0rem 0.04rem 0.01rem #c7c7c7;
                background:#dadada url(../images/profile_logbtn.png)no-repeat .18rem .2rem;
                text-indent:.55rem;
                margin-top:.23rem;
                margin-left:.15rem;
            }
        }
    }

    .bottomflex{
        display:flex;
        flex-wrap:wrap;
        width:6.24rem;
        justify-content:space-between;
        .item{
            width:1.98rem;
            height:1.98rem;
            border-radius:0.05rem;
            box-shadow:0rem 0.04rem 0.01rem #bbb4ae;
            margin-bottom:.22rem;
        }
    }
}

.footer{
    position:fixed;
    bottom:0;
    
    .shade{
        width:6.4rem;
        height:.04rem;
        background:rgba(104, 94, 85,.5);
    }
    .flexbtns{
        display:flex;
        justify-content:space-around;
        padding-top:.27rem;
        padding-bottom:.24rem;
        background:#685e55;
        .img{
            width:.46rem;
            height:.47rem;
            &:nth-of-type(2){
                width:.44rem;
                height:.44rem;
            }
            &:nth-of-type(3){
                width:.46rem;
                height:.40rem;
            }
            &:nth-of-type(4){
                width:.46rem;
                height:.38rem;
            }
            &:nth-of-type(5){
                width:.44rem;
                height:.42rem;
            }
        }
    }
    
    
}