
@charset "UTF-8";
@import "Myfunction.scss"; 
// 网页头部
.carousel_bigimg{
    position:relative;
    .head_navbar{    
        background:rgba(0, 0, 0, 0.1);
        position:absolute;
        left:0; 
        top:0; 
        width:100%; 
        z-index: 1000;
        padding-bottom:11px;
        .container{    
            width:80%;
            .log{
                
                .img{
                    margin-top:10px;
                    margin-right:10px;
                }
                .head_log_word{    
                    h3{       
                         margin-bottom:0px; 
                    }
                }
            }
            .navsmalllabel{
                font-size:40px;
                float:right;
                margin-top:15px;

                &:hover{
                    cursor:pointer;
                }
                display:none;
            }
            .navbtn{    
                padding-top:29px; 
                float:right;
                a{
                    color:#606060;
                    &:not(:first-of-type){
                        margin-left:15px;
                    }
                    &:hover{
                        color:#7eafc7;
                    }
                }
            }
        }
    }
    
    .navbtnsmall{
        display:none;
        a{
        
            text-align:center;

            color:#606060;
            display:block;
               
            margin-bottom:15px;
            &:first-of-type{
                padding-top:15px + 82px;
            }

            &:hover{
                color:#7eafc7;
            }
        }
    }

    #navsmall{
        display:none;
    }
}

#carousel-example-generic{    position:relative; }
.head_carousel_caption_box{    
    border:6px solid rgba(255,255,255,0.5); 
    border-bottom:none;
    display:inline-block; 
    margin:auto; 
    text-align:center; 
    position:relative;
    padding-top:33px;
    padding-right:93px;
    padding-left:93px;
    p{   
        @include fontset(36px ,#fff);
         width:291px;
         margin:auto;
         &:last-of-type{
             margin-top:15px;
             margin-bottom:30px;
         }
      }
      span{
          @include fontset(14px ,#fff);
          position:absolute;
          bottom:-5px;
          left:50%;
          transform:translateX(-50%);
          width:100%;
      }
    &:before{
        content:"";
        height:6px;
        background:rgba(255,255,255,0.5);
        width:55px;
        position:absolute;
        bottom:0;
        left:0;
    }
    &:after{
        content:"";
        height:6px;
        background:rgba(255,255,255,0.5);
        width:55px;
        position:absolute;
        bottom:0;
        right:0;
    }
 }
.carousel-caption{    top:50%; transform:translateY(-50%); bottom:auto; }

//网页尾部
.footer{
    
    .top{
        padding-top:26px;
        padding-bottom:33px;
        background:#313131;
        .uls{
            width:77%;
            color:#eeeeee;
            display:flex;
            justify-content:space-around;
            .imglst{
                display:flex;
                justify-content:space-between;
                
            }
            ul:first-of-type{
                    
                @for $i from 1 to 4{
                    li:nth-of-type(#{$i}){
                        text-indent:30px;
                        background:url("../images/footer_log"+$i+".png") no-repeat left center;
                    }
                }
                li:not(:first-of-type){
                    margin-top:12px;
                }
            }

            ul:not(:first-of-type){
                li:first-of-type{

                    margin-bottom:10px;
                    a{
                        @include fontset(14px , #fff);
                    }
                    
                }
                li:not(:first-of-type){
                    margin-top:7px;
                    a{
                        @include fontset(12px , #f6f6f6);
                    }

                    
                }
            }
           
            
        }
    }
    .bottom{
        background:#242323;
        padding:15px 0px;
        p{
            @include fontset(12px ,#ffffff);
            padding:0px;
            margin:0px;
            text-align:center;
        }
    }
}



// 网页头部的响应
@media screen and (max-width:1290px){
    .head{
        .navsmalllabel{
            display:block !important;
        }
        .navbtn{
            display: none;
        }
        
    }
    #navsmall:checked + .navbtnsmall{
        display:block !important;
    }
}
@media screen and (max-width:818px){
    .head{
        .item{
            .carousel-caption{
                display:none;
            }
        }
    }
}
@media screen and (max-width:673px){
    .footer{
        .uls{
            flex-direction:column;
            align-items:center;
            width:100% !important;
            >ul{
                &:not(first-of-type){
                    margin-top:50px;
                }
            }
        }
    }
}
@media screen and (max-width:528px){
    .head{
        .log{
            display:none;
        }
        .navsmalllabel{
            font-size:20px !important;
        }
    }
}
@media screen and (max-width:382px){
    .head{
        .log{
            display:none;
        }
        .navsmalllabel{
            font-size:10px !important;
        }
    }
}
