
@import "Myfunction.scss"; 
@import "common.scss";

.header{
    @include fontset(.26rem,#000000);
    text-align:center;

    a{
        @include fontset(.26rem,#000000);
    }
    .back{
       width:1.23rem;
       height:.57rem;
       line-height:.52rem;
       border:.02rem solid #ff9344;
       border-radius:.15rem;
       margin-top:.48rem;
       margin-left:.23rem;
    }
    span{
        display:inline-block;
        margin-top:.65rem;
    }
    @include citylststyle();
}

.content{
    .sideshow{
        margin-top:.15rem;
        .flex{
            display:flex;
            justify-content:space-between;
            padding:0rem .26rem;
            .item{
                @include fontset(.26rem,#000000);
                text-align: center;
                .img{
                    width:1.49rem;
                    height:1.49rem;
                }
                span{
                    display: inline-block;
                }
            }
        }
        .btns{
            span{
                width:.18rem;
                height:.18rem;
                background:#ffc9a1;
                &:first-of-type{
                    background:#ff9344;
                }
            }
        }
    }
    .bottomflex{
        @for $i from 1 to 4{
            .item:nth-of-type(#{$i}){
                @include titlestyle("../images/class_title#{$i}.png");
            }
        }
        .imglstflex{
            padding:0rem .21rem;
            display:flex;
            justify-content:space-between;
            .img{
                width:1.33rem;
                height:1.33rem;
            }
        }
    }
}
.footer{
    .item:nth-of-type(2){
       a{
            .img{
                background:url(../images/footer_btn2Selected.png)no-repeat center center;
            }
       } 
    }
}