
@import "Myfunction.scss"; 
@import "commonVariable.scss";


body{
    width:7.5rem;
}
@mixin titlestyle($url:"../images/index_logtitle1.png",$url1:"../images/index_logmore.png"){
    .title{
        height:1.05rem;
        .lefttitle{
            background:url($url)no-repeat left center;
            background-size:.56rem .54rem;
            height:.6rem;
            line-height:.6rem;
            @include fontset(.3rem,#000000);
            
            text-indent:.74rem;
            margin-top:.34rem;
            margin-left:.21rem;
        }
        .more{
            background:url($url1)no-repeat right center;
            background-size:.25rem .26rem;
            @include fontset(.24rem , #000000);
            
            padding-right:.33rem;
            margin-right:.21rem;
            margin-top:.54rem;
        }
    }
}
@mixin citylststyle(){
    .citylst{
        @include fontset(.26rem,#000000);
        padding-left:.14rem;
        padding-right:.11rem;
        line-height:.6rem;
        height:.65rem;
        border:.03rem solid #ff9344;
        margin-top:.47rem;
        margin-right:.21rem;
        span{
            display:inline-block;
            width:0;
            height:0;
            border-top:.16rem solid #ff9344;
            border-left:.16rem solid transparent;
            border-right:.16rem solid transparent;
            margin-top:.22rem;
        }
    }
}
.content{
    padding-bottom:1.36rem;
}
.footer{
    position:fixed;
    bottom:0;
    width:7.5rem ;
    padding-top:.07rem;
    background:#fff;
    display:flex;
    height:1.36rem;
    justify-content: space-around;
    .item{
        height:1.09rem;
        width:.77rem;
        @include fontset(.26rem,#000000);
        text-align: center;
        a{
            color:#000;
            .img{   
                background-size:100% 100% !important;
            }
        }
        
    }
    @for $i from 1 to 5{
        .item:nth-of-type(#{$i}){
            &:hover .img{
                background:url(../images/footer_btn#{$i}Selected.png)no-repeat center center;
            }
            .img{
                width:.77rem;
                height:.77rem;
                background:url(../images/footer_btn#{$i}.png)no-repeat center center;
            }
    
        }
    }
}