html {
  font-size: 100px; }

body {
  width: 7.5rem; }

.content {
  padding-bottom: 1.36rem; }

.footer {
  position: fixed;
  bottom: 0;
  width: 7.5rem;
  padding-top: .07rem;
  background: #fff;
  display: flex;
  height: 1.36rem;
  justify-content: space-around; }
  .footer .item {
    height: 1.09rem;
    width: .77rem;
    font-family: "Microsoft YaHei";
    font-size: 0.26rem;
    color: #000000;
    text-align: center; }
    .footer .item a {
      color: #000; }
      .footer .item a .img {
        background-size: 100% 100% !important; }
  .footer .item:nth-of-type(1):hover .img {
    background: url(../images/footer_btn1Selected.png) no-repeat center center; }
  .footer .item:nth-of-type(1) .img {
    width: .77rem;
    height: .77rem;
    background: url(../images/footer_btn1.png) no-repeat center center; }
  .footer .item:nth-of-type(2):hover .img {
    background: url(../images/footer_btn2Selected.png) no-repeat center center; }
  .footer .item:nth-of-type(2) .img {
    width: .77rem;
    height: .77rem;
    background: url(../images/footer_btn2.png) no-repeat center center; }
  .footer .item:nth-of-type(3):hover .img {
    background: url(../images/footer_btn3Selected.png) no-repeat center center; }
  .footer .item:nth-of-type(3) .img {
    width: .77rem;
    height: .77rem;
    background: url(../images/footer_btn3.png) no-repeat center center; }
  .footer .item:nth-of-type(4):hover .img {
    background: url(../images/footer_btn4Selected.png) no-repeat center center; }
  .footer .item:nth-of-type(4) .img {
    width: .77rem;
    height: .77rem;
    background: url(../images/footer_btn4.png) no-repeat center center; }

.header {
  font-family: "Microsoft YaHei";
  font-size: 0.26rem;
  color: #000000;
  text-align: center; }
  .header a {
    font-family: "Microsoft YaHei";
    font-size: 0.26rem;
    color: #000000; }
  .header .back {
    width: 1.23rem;
    height: .57rem;
    line-height: .52rem;
    border: .02rem solid #ff9344;
    border-radius: .15rem;
    margin-top: .48rem;
    margin-left: .23rem; }
  .header span {
    display: inline-block;
    margin-top: .65rem; }

.header {
  margin-bottom: .19rem; }
  .header .email {
    width: .62rem;
    height: .43rem;
    margin-right: .18rem;
    margin-top: .58rem; }

.content {
  padding-left: .23rem;
  padding-right: .21rem; }
  .content .tophead {
    margin-bottom: .26rem; }
    .content .tophead .img {
      width: 1.69rem;
      height: 1.68rem;
      border-radius: 100%; }
    .content .tophead .articla {
      font-family: "Microsoft YaHei";
      font-size: 0.3rem;
      color: #000;
      margin-left: .25rem; }
      .content .tophead .articla h3 {
        margin-top: .32rem;
        margin-bottom: .1rem; }
      .content .tophead .articla span {
        display: inline-block;
        font-family: "Microsoft YaHei";
        font-size: 0.26rem;
        color: #9d9d9d; }
    .content .tophead .goto {
      font-family: "Microsoft YaHei";
      font-size: 0.8711rem;
      color: #010101;
      display: inline-block;
      margin-top: .15rem; }
  .content .functionsflex {
    display: flex;
    justify-content: space-between; }
    .content .functionsflex .item {
      width: 1.94rem;
      height: 1.5rem;
      font-family: "Microsoft YaHei";
      font-size: 0.26rem;
      color: #000000;
      text-align: center; }
      .content .functionsflex .item span {
        display: inline-block;
        margin-top: .1rem; }
      .content .functionsflex .item:nth-of-type(1) {
        background: #b2e0a0; }
        .content .functionsflex .item:nth-of-type(1) .img {
          width: .78rem;
          height: .82rem;
          margin: auto;
          margin-top: .2rem; }
      .content .functionsflex .item:nth-of-type(2) {
        background: #a0dce0; }
        .content .functionsflex .item:nth-of-type(2) .img {
          width: .83rem;
          height: .79rem;
          margin: auto;
          margin-top: .2rem; }
      .content .functionsflex .item:nth-of-type(3) {
        background: #e0b7a0; }
        .content .functionsflex .item:nth-of-type(3) .img {
          width: 1.24rem;
          height: .79rem;
          margin: auto;
          margin-top: .2rem; }
  .content .titles {
    margin-top: .33rem; }
    .content .titles .title:nth-of-type(1) {
      margin-bottom: .33rem; }
      .content .titles .title:nth-of-type(1) .lefttitle {
        background: url("../images/myself_column1.png") no-repeat left center;
        background-size: 0.57rem 0.73rem;
        height: 0.73rem;
        line-height: 0.73rem;
        font-family: "Microsoft YaHei";
        font-size: 0.3rem;
        color: #000000;
        text-indent: 0.98rem;
        margin-left: .21rem; }
      .content .titles .title:nth-of-type(1) .more {
        background: url("../images/index_logmore.png") no-repeat right center;
        background-size: .25rem .26rem;
        font-family: "Microsoft YaHei";
        font-size: 0.24rem;
        color: #000000;
        padding-right: .33rem;
        margin-top: 0.292rem; }
        .content .titles .title:nth-of-type(1) .more:hover {
          cursor: pointer;
          opacity: .5; }
    .content .titles .title:nth-of-type(2) {
      margin-bottom: .33rem; }
      .content .titles .title:nth-of-type(2) .lefttitle {
        background: url("../images/myself_column2.png") no-repeat left center;
        background-size: 0.71rem 0.74rem;
        height: 0.74rem;
        line-height: 0.74rem;
        font-family: "Microsoft YaHei";
        font-size: 0.3rem;
        color: #000000;
        text-indent: 0.98rem;
        margin-left: .21rem; }
      .content .titles .title:nth-of-type(2) .more {
        background: url("../images/index_logmore.png") no-repeat right center;
        background-size: .25rem .26rem;
        font-family: "Microsoft YaHei";
        font-size: 0.24rem;
        color: #000000;
        padding-right: .33rem;
        margin-top: 0.296rem; }
        .content .titles .title:nth-of-type(2) .more:hover {
          cursor: pointer;
          opacity: .5; }
    .content .titles .title:nth-of-type(3) {
      margin-bottom: .33rem; }
      .content .titles .title:nth-of-type(3) .lefttitle {
        background: url("../images/myself_column3.png") no-repeat left center;
        background-size: 0.93rem 0.58rem;
        height: 0.58rem;
        line-height: 0.58rem;
        font-family: "Microsoft YaHei";
        font-size: 0.3rem;
        color: #000000;
        text-indent: 0.98rem;
        margin-left: .21rem; }
      .content .titles .title:nth-of-type(3) .more {
        background: url("../images/index_logmore.png") no-repeat right center;
        background-size: .25rem .26rem;
        font-family: "Microsoft YaHei";
        font-size: 0.24rem;
        color: #000000;
        padding-right: .33rem;
        margin-top: 0.232rem; }
        .content .titles .title:nth-of-type(3) .more:hover {
          cursor: pointer;
          opacity: .5; }
    .content .titles .title:nth-of-type(4) {
      margin-bottom: .75rem; }
      .content .titles .title:nth-of-type(4) .lefttitle {
        background: url("../images/myself_column4.png") no-repeat left center;
        background-size: 0.59rem 0.59rem;
        height: 0.59rem;
        line-height: 0.59rem;
        font-family: "Microsoft YaHei";
        font-size: 0.3rem;
        color: #000000;
        text-indent: 0.98rem;
        margin-left: .21rem; }
      .content .titles .title:nth-of-type(4) .more {
        background: url("../images/index_logmore.png") no-repeat right center;
        background-size: .25rem .26rem;
        font-family: "Microsoft YaHei";
        font-size: 0.24rem;
        color: #000000;
        padding-right: .33rem;
        margin-top: 0.236rem; }
        .content .titles .title:nth-of-type(4) .more:hover {
          cursor: pointer;
          opacity: .5; }
    .content .titles .title:nth-of-type(5) {
      margin-bottom: .33rem; }
      .content .titles .title:nth-of-type(5) .lefttitle {
        background: url("../images/myself_column5.png") no-repeat left center;
        background-size: 0.78rem 0.79rem;
        height: 0.79rem;
        line-height: 0.79rem;
        font-family: "Microsoft YaHei";
        font-size: 0.3rem;
        color: #000000;
        text-indent: 0.98rem;
        margin-left: .21rem; }
      .content .titles .title:nth-of-type(5) .more {
        background: url("../images/index_logmore.png") no-repeat right center;
        background-size: .25rem .26rem;
        font-family: "Microsoft YaHei";
        font-size: 0.24rem;
        color: #000000;
        padding-right: .33rem;
        margin-top: 0.316rem; }
        .content .titles .title:nth-of-type(5) .more:hover {
          cursor: pointer;
          opacity: .5; }
    .content .titles .title:nth-of-type(6) {
      margin-bottom: .33rem; }
      .content .titles .title:nth-of-type(6) .lefttitle {
        background: url("../images/myself_column6.png") no-repeat left center;
        background-size: 0.84rem 0.59rem;
        height: 0.59rem;
        line-height: 0.59rem;
        font-family: "Microsoft YaHei";
        font-size: 0.3rem;
        color: #000000;
        text-indent: 0.98rem;
        margin-left: .21rem; }
      .content .titles .title:nth-of-type(6) .more {
        background: url("../images/index_logmore.png") no-repeat right center;
        background-size: .25rem .26rem;
        font-family: "Microsoft YaHei";
        font-size: 0.24rem;
        color: #000000;
        padding-right: .33rem;
        margin-top: 0.236rem; }
        .content .titles .title:nth-of-type(6) .more:hover {
          cursor: pointer;
          opacity: .5; }
  .content .btns {
    display: flex;
    justify-content: space-between;
    padding: 0rem .87rem;
    margin-bottom: .16rem; }
    .content .btns a {
      display: inline-block;
      background: #ff9344;
      border-radius: .35rem;
      width: 1.47rem;
      height: .75rem;
      line-height: .75rem;
      text-align: center;
      font-family: "Microsoft YaHei";
      font-size: 0.24rem;
      color: #ffffff; }
      .content .btns a:hover {
        background: rgba(255, 147, 68, 0.5); }

.footer .item:nth-of-type(4) a .img {
  background: url(../images/footer_btn4Selected.png) no-repeat center center; }

/*# sourceMappingURL=myself.css.map */
