@import "Myfunction.scss"; 
@import "common.scss";

@mixin headportraitstyle(){
    .img{
        width:.88rem;
        height:.88rem;
        border-radius:50%;
        border:.03rem solid #fff;
        margin-left:.22rem;
    }
    .article{
        margin-left:.21rem;
        h3{
            @include fontset(.3rem,#fff,'AvenirMedium');
            margin-bottom:.05rem;
            margin-top:.1rem;
        }
        div{
            background:url(../images/log_position.png)no-repeat left center;
            @include fontset(.24rem,#a49f99,'AvenirBook');
            text-indent:.25rem;
        }
    }
}
@mixin shadowCircularBead(){
    box-shadow:0rem .04rem .01rem #b9b3ac;
    border-bottom-left-radius: .05rem;
    border-bottom-right-radius:.05rem;
} 
@mixin middlerightbtnstyle(){
    width:.6rem;
    border-bottom:.02rem solid #f0f0f0;
    margin:auto;
    margin-top:.3rem;
    padding-bottom:.28rem;
    img{
        width:.38rem;
        height:.34rem;
        margin:auto;
        &:hover{
            cursor:pointer;
        }
    }
}
html{
    padding-bottom:1.02rem;
}
.header{
    // padding-top:.57rem;
    background:#eb8c69;
    text-align:center;
    position:fixed;
    width:6.4rem;
    opacity:.8;
    .nav{
        display:inline-block;
        float:left;
        margin-left:.26rem;
        margin-top:.66rem;
        margin-bottom:.23rem;
        position:relative;
        span{
            display:block;
            width:.46rem;
            height:.04rem;
            background:#fff;
            box-shadow:0rem .03rem .01rem #b66a50;
            margin-bottom:0.09rem;
            &:last-of-type{
                margin-bottom:none;
            }
        }
        &:after{
            content:"5";
            display:block;
            @include fontset(0.2rem,#705d76,"AvenirBook");
            width:0.3rem;
            height:0.3rem;
            line-height:0.3rem;
            border-radius:0.05rem;
            background:#fadb9b;
            position:absolute;
            right:-.12rem;
            top:-.17rem;
        }
    }
    >h3{
        display:inline-block;
        @include fontset(.72rem,#fff,"MetroScript");
        text-shadow: 0rem .03rem .01rem #b76b50;
        margin-top:.42rem;
    }
}
.content{
    padding:0rem .08rem;
    background:#dbd4cc;
    .top{
        background:url(../images/feed_HeadPortrait1_bg.png)no-repeat left top;
        background-size:6.24rem 2.95rem;
        @include shadowCircularBead();
        height:2.95rem;
        padding-top:1.85rem;
        @include headportraitstyle();
        .distance{
            display:inline-block;
            background:url(../images/log_time.png)no-repeat left center;
            @include fontset(.24rem,#a49f99,'AvenirBook');
            text-indent:.3rem;
            margin-top:.50rem;
            margin-right:.32rem;

        }
    }
    .middle{
        @include shadowCircularBead();
        margin:.2rem 0rem;
        
        >.left{
            @include headportraitstyle();
            width:5.34rem;
            height:4.20rem;
            background:url(../images/feed_HeadPortrait2_bg.png)no-repeat left top;
            padding-top:3.1rem;
        }
        >.right{
            width:.9rem;
            height:4.2rem;
            background:#fff;
            border-bottom-right-radius:.05rem;
            .img{
               &:nth-of-type(1){
                    @include middlerightbtnstyle();
               }
               &:nth-of-type(2){
                    @include middlerightbtnstyle();
               }
               &:nth-of-type(3){
                    @include middlerightbtnstyle();
                    border-bottom:none;
                    padding-bottom:0px;
               } 
            }
            .more{
                text-align:center;
                margin-top:1.25rem;
                span{
                    display:inline-block;
                    width:.1rem;
                    height:.1rem;
                    background:#cac5be;
                    border-radius:50%;
                }
            }
        }
    }
    .bottom{

    }
}
.footer{
    position:fixed;
    bottom:0;
    
    .shade{
        width:6.4rem;
        height:.04rem;
        background:rgba(104, 94, 85,.5);
    }
    .flexbtns{
        display:flex;
        justify-content:space-around;
        padding-top:.27rem;
        padding-bottom:.24rem;
        background:#685e55;
        .img{
            width:.46rem;
            height:.47rem;
            &:nth-of-type(2){
                width:.44rem;
                height:.44rem;
            }
            &:nth-of-type(3){
                width:.46rem;
                height:.40rem;
            }
            &:nth-of-type(4){
                width:.46rem;
                height:.38rem;
            }
            &:nth-of-type(5){
                width:.44rem;
                height:.42rem;
            }
        }
    }
    
    
}